<div class="container">
<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= user.middle_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Favorite Food:</strong>
    <%= user.favorite_food %>
  </p>

  <p>
    <strong>Favorite Place:</strong>
    <%= user.favorite_place %>
  </p>

  <p>
    <strong>Favorite car:</strong>
    <%= user.favorite_car %>
  </p>

  <p>
    <strong>Pet count:</strong>
    <%= user.pet_count %>
  </p>

  <p>
    <strong>Pet name:</strong>
    <%= user.pet_name %>
  </p>

</div>
</div>